<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinocodeacademy.GameEdukasiPemahamanAnak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dinocodeacademy.GameEdukasiPemahamanAnak.QuizActivity"></activity>
        <activity android:name="com.dinocodeacademy.GameEdukasiPemahamanAnak.PlayActivity" />
        <activity android:name="com.dinocodeacademy.GameEdukasiPemahamanAnak.ResultActivity" />
        <activity android:name="com.dinocodeacademy.GameEdukasiPemahamanAnak.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>